* {
  margin: 0;
  padding: 0;
}

.fll{
  float: left;
}

.flr{
  float: right;
}

.clearfix{
  &::after{
    content: '';
    clear: both;
    display: block;
    height: 0;
    width: 0;
  }
}
.tac{
  text-align: center;
}
.mac{
  margin: 0 auto;
}
